<footer class="bg-light">
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/contact">Contact</a></li>
        </ul>
        <p>Feel free to use this app in any way you see fit within the limitations of <a href="https://iextrading.com/api-terms/">IEX's Terms of Use</a>. <br> Never claim credit for this project.</p>
        <small>Written By Christopher J. Gambrell <br> <a href="http://www.christopherjgambrell.com">www.christopherjgambrell.com</a></small>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</footer>
</body>
</html>
