<% include partials/header %>
  <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">Welcome to the Stock Lookup Application</h1>
        <p class="lead">This is a simple application used for basic stock market research. The data provided comes from the <a href="https://iextrading.com/">IEXTrading API</a></p>
        <a href="#" class="btn btn-primary btn-lg">Get Started</a>
      </div>
  </div>
<% include partials/footer %>
