<% include partials/header%>

<h1>You've reached the UNKNOWN page</h1>

<div class="container">
  <h2><strong>Recent Market News</strong></h2>
  <hr>
  <% for (var i = 0; i < data.length; i++){ %>
    <div class="card" style="margin-bottom:10px;">
      <div class="card-body">
        <h5 class="card-title"><strong><%= data[i].headline %></strong></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= new Date(data[i].datetime) %></h6>
        <p class="card-text"><%= data[i].summary %></p>
        <a href="<%= data[i].url %>" class="btn btn-primary">Read More</a>
      </div>
    </div>
  <% } %>
</div>
<% include partials/footer%>
