.label-group {
  margin: 10px;
}

.label-group p {
  margin: 0px;
}

.info-container {
  margin-top: 25px;
  margin-bottom: 25px;
}

form button {
  margin-top: 10px;
}

/* Footer Styles  */

footer {
  margin-top: 2em;
  padding-top: 1.5em;
}

footer col {
  padding: 12px;
}
